<h1>{{ puppy.name }}</h1>

<img src="/uploads/puppies/{{ puppy.mainPicture }}" alt="">

<p>Breeds:</p>
<ul>
    {{#each puppy.breed }}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p>Gender: {{ puppy.gender }}</p>
<p>Birthday: {{ puppy.birthDate }}</p>
<p>Colors:</p>
<ul>
    {{#each puppy.colors }}
        <li>{{ this }}</li>
    {{/each}}
</ul>
<p>Price: {{ puppy.price }}€</p>
<p>Description: {{ puppy.description }}</p>
<p>Additionnal pictures:</p>
{{#each puppy.pictures }}
    <img src="/uploads/puppies/{{ this }}" alt="">
{{/each}}
<a href="/users/profile?id={{user._id}}">
    <p>Owner: {{ puppy.owner.username }}</p>
    <img src="/uploads/profile-pictures/{{ puppy.owner.profileImage }}" alt="">
</a>


{{#if isOwner}}
    <a href="/puppies/update/{{puppy._id}}">Update puppy</a>
    <a href="/puppies/delete/{{puppy._id}}">Delete puppy</a>
{{/if}}



