<h1>{{ puppy.name }}</h1>
<img src="/uploads/puppies/{{ puppy.picture }}" alt="">
<p>Breeds:</p>
<ul>
    {{#each puppy.breed }}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p>Birthday: {{ puppy.birthDate }}</p>
<p>Colors:</p>
<ul>
    {{#each puppy.colors }}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p>Price: {{ puppy.price }}€</p>
<p>Description: {{ puppy.description }}</p>
<p>Owner: {{ puppy.owner.username }}</p>


