<h1>{{ puppy.name }}</h1>

<img src="{{ puppy.mainPicturePath }}" alt="">

<p>Breeds:</p>
<ul>
    {{#each puppy.breed }}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p>Gender: {{ puppy.gender }}</p>
<p>Birthday: {{ puppy.birthDate }}</p>
<p>Colors:</p>
<ul>
    {{#each puppy.colors }}
        <li>{{ this }}</li>
    {{/each}}
</ul>
<p>Price: {{ puppy.price }}€</p>
<p>Description: {{ puppy.description }}</p>
<p>Additionnal pictures:</p>
{{#each puppy.picturesPath }}
    <img src="{{ this }}" alt="">
{{/each}}
<a href="/users/profile?id={{puppy.owner._id}}">
    <p>Owner: {{ puppy.owner.username }}</p>
    <img src="/uploads/profile-pictures/{{ puppy.owner.profileImage }}" alt="">
</a>


{{#if isOwner}}
    <a href="/puppies/update/{{puppy._id}}">Update puppy</a>
    <a href="/puppies/delete/{{puppy._id}}">Delete puppy</a>
{{/if}}


<h2>Comments</h2>
{{#each puppy.comments}}
    <p>{{this.content}}</p>
    <p>{{this.author.username}}</p>
{{/each}}

<h2>Post a comment</h2>
<form action="/puppies/comment" method="POST">
    <input type="text" id="content" name="content" placeholder="Your comment" >
    <button type="submit">Post comment</button>
    <input type="text" hidden value="{{puppy.id}}" name="id">
</form>