<div>
    <h2>Update puppy</h2>

    <form id="form-update-puppy" action="/puppies/update" enctype="multipart/form-data" method="POST">
            <input type="text" value="{{puppy.name}}" placeholder="Name" name="name">
            <label for="gender">Gender:</label>
            <select id="gender" value="{{puppy.gender}}" name="gender">
                {{#if puppy.male}}
                    <option selected value="Male">Male</option>
                {{else}}
                    <option value="Male">Male</option>
                {{/if}}
                {{#if puppy.female}}
                    <option selected value="Female">Female</option>
                {{else}}
                    <option value="Female">Female</option>
                {{/if}}
            </select>

            <div class="breed-div">
                {{#each puppy.breed }}
                <input class="breed"  value="{{this}}" type="text" placeholder="Breed" name="breed">
                {{/each}}
                <button id="add-breed-btn" class="btn">Add breed</button>
                <button id="delete-breed-btn" class="btn">Delete breed</button>
            </div>

            <input type="date" value="{{puppy.birthDate}}" placeholder="Birth Date" name="birthDate">

            <div class="color-div">
                {{#each puppy.colors }}
                    <input class="color"  value="{{this}}" type="text" placeholder="Color" name="colors">
                {{/each}}
                <button id="add-color-btn" class="btn">Add color</button>
                <button id="delete-color-btn" class="btn">Delete color</button>
            </div>


            <input type="number" value="{{puppy.price}}" placeholder="Price" name="price" min="0">
            <input type="text" value="{{puppy.description}}" placeholder="Description" name="description">

            <div class="main-picture-div">
                <img class="main-picture" src="/uploads/puppies/{{ puppy.mainPicture }}" alt="">
                <button id="delete-main-picture-btn" class="btn">Delete main picture</button>
                <input type="text" hidden value="{{puppy.mainPicture}}" name="mainPicture">
            </div>

            <div class="pictures-div">
                <input multiple class="pictures" type="file" name="pictures">
                <button id="add-picture-btn" class="btn">Add picture</button>
                <button id="delete-picture-btn" class="btn">Delete picture</button>
            </div>
            
            <button type="submit" class="btn">Update Puppy</button>
            
            <input type="text" hidden value="{{puppy.id}}" name="id">
    </form>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
</div>


<script src="/javascripts/btn-create-update-puppy.js"></script>

<script>
let $mainPictureDiv = document.querySelector(".main-picture-div");
let $deleteMainPictureBtn = document.querySelector("#delete-main-picture-btn");
let $mainPictureToRemove = $mainPictureDiv.querySelector(".main-picture");
$deleteMainPictureBtn.addEventListener("click", e => {
    e.preventDefault();
    

    let $newMainPicture = document.createElement("input");
    $newMainPicture.setAttribute("type", "file");
    $newMainPicture.setAttribute("id", "main-picture");
    $newMainPicture.setAttribute("name", "pictures");
    $mainPictureDiv.insertBefore($newMainPicture, $deleteMainPictureBtn);
    $mainPictureDiv.removeChild($mainPictureToRemove);
    $mainPictureDiv.removeChild($deleteMainPictureBtn);
    
})
</script>
