<div class="container">
    <div class="row">
        <div class="col-5">
            <h5 >{{user.username}}</h5>
            <h6>Name: {{user.name}}</h6>
            <h6>Email: {{user.email}}</h6>
            <h6>City: {{user.city}}</h6>
            {{#if isOwner}}
            <h6><a href="/users/updateUser?id={{user._id}}">Update profile</a></h6>
            {{/if}}
        </div>
        <div class="col-5">
            <img src="/uploads/profile-pictures/{{user.profileImage}}" alt="{{user.username}} img">
        </div>
    </div>
        <div class="row">
        <div class="col-5">
            <h5>Puppies by owner</h5>
            {{#each puppies}}
                    <img src="/uploads/puppies/{{this.mainPicture}}" alt="{{this.name}}">
                    <a href="/puppies/detail/{{this._id}}">{{this.name}}</a>
                </div>
            {{/each}}
         </div>
    </div>
    <div class="row">
        <div class="col-5">
            <h5>Reviews</h5>
         </div>
    </div>
</div>

