<div class="container">
    <div class="row justify-content-center my-3">
        <div class="col-sm-8 col-md-6 col-lg-6">
            <h4>{{user.username}}</h4>
            <p>Name: {{user.name}}</p>
            <p>Email: {{user.email}}</p>
            <p>City: {{user.city}}</p>
            {{#if isOwner}}
            <p><a href="/users/updateUser?id={{user._id}}">Update profile</a></p>
            {{/if}}
        </div>
        <div class="col-sm-8 col-md-6 col-lg-6">
            <img src="/uploads/profile-pictures/{{user.profileImage}}" alt="{{user.username}} img">
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <h4>Puppies by owner</h4>
    </div>
    <div class="row">
    {{#each puppies}}
        <div class="col-sm-8 col-md-6 col-lg-4 p-2 d-flex justify-content-center">
            <div class="card" style="width: 22rem">
                <a class="puppy-title" href="/puppies/detail/{{this._id}}">
                <h5 class="card-title p-2">{{this.name}}</h5>

                <img src="{{ this.mainPicturePath }}" class="card-img-top" alt="...">

            </div>
        </div>
    {{/each}}
    </div>
    <div class="row justify-content-center my-3">
        <h4>Reviews</h4>
    </div>
</div>

