<div class="container">
  <div id="form">
    <h2>Update your details</h2>
    <form action="/users/updateUser" method="POST"  enctype="multipart/form-data">

      <div class="form-group">
        <label for="input-name">Your Name</label>
        <input type="text" id="input-name" class="form-control" name="name" value="{{user.name}}" />
      </div>

      <div class="form-group">
        <label for="input-city">City</label>
        <input type="text" id="input-city" class="form-control" name="city" value="{{user.city}}" />
      </div>

      <div class="form-group">
        <label for="input-picture">Profile Picture</label>
        <input type="file" name="picture" class="form-control" id="input-picture">
        <input value="{{user.profileImage}}" type="hidden" name="profileImage">

      </div>
      <div class="row m-2">
          <input value="{{user._id}}" type="hidden" name="_id">
      </div> 

      <button type="submit" class="btn btn-primary">Update User</button>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>